html, body {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    background: rgba(0,0,0,0);
    overflow: hidden;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    display: none;
}

div#subtitle {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    font-family: "San Francisco", "Helvetica Neue", "Helvetica", Arial, Sans-Serif;
    font-size: calc( 5vh + 5vw );
    font-weight: 200;
    line-height: calc( 6vh + 5vw );
    color: #fefef2;
    text-shadow: 3px 1px 4px #222;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

div#hero {
    width: 100vw;
    height: 100vh;
}

div#hero video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    animation: smooth-in 0.3s ease-out 0s 1;
}

div#hero video.out {
    animation: smooth-out 0.3s ease-out 0s 1;
    opacity: 0.0;
}

@keyframes smooth-in {
      0% { transform: translateX(-100vw) scale(1.0); opacity: 0.0; }
    100% { transform: translateX(0vw)    scale(1.0); opacity: 1.0; }
}

@keyframes smooth-out {
    0% { transform: translateX(0vw)   scale(1.0); opacity: 1.0; }
   99% { transform: translateX(100vw) scale(0.2); opacity: 0.0; }
  100% { transform: translateX(100vw) scale(0.2); opacity: 0.0; }
}
