html, body {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    background: rgba(0,0,0,0);
    overflow: hidden;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    display: none;
}

div#subtitle {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    font-family: "San Francisco",
        "Helvetica Neue", "Helvetica",
        Arial, Sans-Serif;
    font-size: calc( 3vh + 3vw );
    font-weight: 200;
    line-height: calc( 4vh + 3vw );
    color: #fefef2;
    text-shadow: 3px 1px 4px #222;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: left;
    width: auto;
    height: auto;
}

div#hero {
    width: 100vw;
    height: 100vh;
    font-size: 80;
    color: red;
    padding-top: 100px;
}

div#hero video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    animation: smooth-in 0.3s ease-out 0s 1;
}

div#hero video.out {
    animation: smooth-out 0.3s ease-out 0s 1;
    opacity: 0.0;
}

div#watermark {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 20vw;
    height: 20vh;
    background-image: url(../media/pubnub-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.2;
}

@keyframes smooth-in {
      0% { transform: translateX(-100vw) scale(1.0); opacity: 0.0; }
    100% { transform: translateX(0vw)    scale(1.0); opacity: 1.0; }
}

@keyframes smooth-out {
    0% { transform: translateX(0vw)   scale(1.0); opacity: 1.0; }
   99% { transform: translateX(100vw) scale(0.2); opacity: 0.0; }
  100% { transform: translateX(100vw) scale(0.2); opacity: 0.0; }
}
